/*trying to pull*/
body {
	font-family: Helvetica;
	background-color: #93F1B6;
}

/*h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px; 
	color: #030303;
}*/

a:link {
	color:#030303;
	text-decoration: none; 
}

.content {
	background-color: rgba(255,255,255, .4);
}

.header {
	display: inline;
	margin-left: 2%;
}

.header a {
	color:#FFF;
}


#Headshot {
	float:right;
	margin-right: 10%;
}
