body {
	font-family: Helvetica;
	color: #FFFFFF;
	background-color: #1A284A;
}

h1, h2, h3, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px; 
	color: #FFFFFF;
}

h4 {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px; 
	color: #C6E2FF;
}

li {

	list-style: square;
	color: #FFFFFF;
}

a:link {
	color:#C6E2FF;
}

a:visited {
	color:#7CC5D7;
}

.header {
	display: inline;
	margin-left: 2%;
}

.header a {
	color:#FFF;
}


#Headshot {
	float:right;
	margin-right: 10%;
}
