body {
	font-family: Helvetica;
	font-color: #FFFFFF;
	background-color: #1A284A;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px; 
	color: #FFFFFF;
}

li {

	list-style: square;
	color: #FFFFFF;
}

a:link {
	color:#7CC5D7;
	text-decoration: none; 
}

a:visited {
	color:#9AD1FF;
	text-decoration: none; 
}

.header {
	display: inline;
	margin-left: 2%;
}

.header a {
	color:#FFF;
}


#Headshot {
	float:right;
	margin-right: 10%;
}
